#graph {
    width: 100%;
    height: 400px;
    background-color: #fefefe;
    border-radius: 5px;
}

#graph svg{
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;
}

#msg{
    min-height: 24px;
}

.cover-container{
    margin-top: 20px;
}
.mastfoot{
    position: inherit;
}